/**
 * @file
 * Default style for galeries.
 */

.photoswipe-gallery .gallery-items {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-template-rows: 240px;
  grid-gap: 10px;
}

.photoswipe-gallery .gallery-items a,
.photoswipe-gallery .gallery-items a:hover {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.photoswipe-gallery .gallery-items a:hover img {
  border: 1px solid red;
}

.photoswipe-gallery .gallery-items a img {
  object-fit: contain;
  width:100%;
  height:100%;
}

.photoswipe-gallery .gallery-item {
  background-color: #acacac2e;
  justify-content: center;
  align-items: center;
  max-height: 240px;
  min-height: 240px;
}
